<%= form_with(model: mesa, local: true) do |form| %>
  <% if mesa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mesa.errors.count, "error") %> prohibited this mesa from being saved:</h2>

      <ul>
      <% mesa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :zona %>
    <%= form.text_field :zona %>
  </div>

  <div class="field">
    <%= form.label :mesa %>
    <%= form.text_field :mesa %>
  </div>

  <div class="field">
    <%= form.label :reserva %>
    <%= form.check_box :reserva %>
  </div>

  <div class="field">
    <%= form.label :pasajeros %>
    <%= form.number_field :pasajeros %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
