<h5 class='text-center text-muted'>LUNES CERRADO</h5>
<h5 class='text-center text-muted'><b>martes a sábado</b> 13:00 a 16:00 - 19:00 a 22:00</br><b>domingo</b> 13:00 a 16:00</h5>
<h5 class='text-center text-muted'>PARA RESERVAS DE MÁS DE 6 PERSONAS O EN HORARIOS ESPECIALES</h5>
<h5 class='text-center text-muted'>POR FAVOR COMINCARSE AL</h5>
<h6 class='text-center text-muted'>Teléfono o WhatsApp +56 9 9613 0353</h6>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :anombre, label: 'Reserva a nombre de', v: true } %>
<div class='row'>
	<div class='col-md-6'>
		<div class='row'>
			<div class='col-md-6'>
				<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :n_personas, label: 'Número de personas', sel_list: Reserva::MESAS, v: true } %>
			</div>
			<div class='col-md-6'>
				<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'select', token: :hora, label: 'Hora de la Reserva', sel_list: @horarios, v: true } %>
			</div>
		</div>
	</div>
	<div class='col-md-6'></div>
</div>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text', token: :n_contacto, label: 'Número telefónico de contacto', v: true } %>
<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'text_area', token: :indicaciones, label: 'Indicaciones', v: false } %>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'hidden', token: :fecha, label: nil, v: nil } %>
