<div class='row'>
	<div class='col-md-4'>
		<div class='text-center'>
			<div class="btn btn-link">
			  <%= link_to 'Anterior', "/reservas?d=#{@fecha.yesterday.year.to_s+@fecha.yesterday.month.to_s.rjust(2, "0")+@fecha.yesterday.day.to_s.rjust(2, "0")}", :class => "btn" %>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<h5 class='text-center'>Reservas del día</h5>
		<h5 class='text-center'><%=@fecha%></h5>
		<div class='text-center'>
			<% if @lunes %>
				<h2 class='text-info'>LUNES CERRADO</h2>
			<% end %>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='text-center'>
			<div class="btn btn-link">
			  <%= link_to 'Siguiente', "/reservas?d=#{@fecha.tomorrow.year.to_s+@fecha.tomorrow.month.to_s.rjust(2, "0")+@fecha.tomorrow.day.to_s.rjust(2, "0")}", :class => "btn" %>
			</div>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-md-6'><h5 class='text-center'>Web</h5></div>
	<div class='col-md-6'><h5 class='text-center'>Telefono/WhatsApp/Correo</h5></div>
</div>

<% @coleccion['tandas'].each do |tanda| %>
	<div class='row'>
		<h6><b><%= tanda.horario %></b></h6>
	</div>
	<div class='row'>
		<div class='col-md-6'>
			<%= render partial: 'reservas/tanda', locals: {coleccion: @tanda[tanda.horario]} unless @tanda[tanda.horario].empty? %>
		</div>
		<div class='col-md-6'>
		</div>
	</div>
<% end %>
