<div class='row'>
	<div class='col-md-4'>
		<div class='text-center'>
			<div class="btn btn-link">
			  <%= link_to 'Anterior', "/reservas?d=#{@fecha.yesterday.year.to_s+@fecha.yesterday.month.to_s.rjust(2, "0")+@fecha.yesterday.day.to_s.rjust(2, "0")}", :class => "btn" %>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<h5 class='text-center'>Reservas del día</h5>
		<h5 class='text-center'><%=@fecha%></h5>
		<div class='text-center'>
			<% if @lunes %>
				<h2 class='text-info'>LUNES CERRADO</h2>
			<% else %>
				<div class='text-center'>
				<div class="btn btn-light">
				  <%= link_to 'Ingreso Reserva', "/reservas/new?d=#{@fecha}", :class => "btn" %>
				</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='text-center'>
			<div class="btn btn-link">
			  <%= link_to 'Siguiente', "/reservas?d=#{@fecha.tomorrow.year.to_s+@fecha.tomorrow.month.to_s.rjust(2, "0")+@fecha.tomorrow.day.to_s.rjust(2, "0")}", :class => "btn" %>
			</div>
		</div>
	</div>
</div>

<% unless @lunes %>
<% @coleccion['tandas'].each do |tanda| %>
	<small><b><%= "#{tanda.horario} | #{@tanda[tanda.horario].map {|tan| tan.n_personas.to_i if tan.switch == true}.compact.sum} | #{'Completo' if @tanda[tanda.horario].map {|tan| tan.n_personas.to_i}.sum >= 20}" %></b></small>
		<% if tanda.activa(@fecha) == true %>
			<%= render partial: '0p/general/btn_proceso', locals: {texto: nil, link: link_x_btn(tanda, "/cierra?fecha=#{@fecha}", true), clr: color(tanda.class.name.tableize), delete: false, gly: 'toggle-on'} %>
		<% else %>
			<%= render partial: '0p/general/btn_proceso', locals: {texto: nil, link: link_x_btn(tanda, "/recupera?fecha=#{@fecha}", true), clr: color(tanda.class.name.tableize), delete: false, gly: 'toggle-off'} %>
		<% end %>
		<br>
	<%= render partial: 'reservas/tanda', locals: {coleccion: @tanda[tanda.horario]} unless @tanda[tanda.horario].empty? %>
<% end %>
<% end %>
